{% load i18n %}
{% if is_registered %}
<div id="register" title="{% trans "Account Information" %}">
    <form id="registerForm" action="/accounts/update/" method="post">
{% else %}
<div id="register" title="{% trans "Sign Up For An Account" %}">
    <form id="registerForm" action="/accounts/register/" method="post">
{% endif %}
        <table id="registerTable">
            <tr>
                <td colspan="2"><span id="usernameinstructions"
                class="recommended">{% trans "Please choose a username between 6 and 30 characters. Include at least one letter. Do not leave leading or trailing spaces." %}</span></td>
            </tr>
            <tr>
                <td class="fname">{% trans "User Name" %} *</td>
                <td><input id="newusername" name="newusername" class="field" maxlength="30"
                {% if is_registered %}
                    disabled="true" value="{{ userinfo.username }}"
                {% endif %}/></td>
            </tr>
            <tr>
                <td colspan="2"><span id="passwordinstructions" class="recommended">Please use a password of 8 or more characters.</span></td>
            </tr>
            <tr>
                <td class="fname">{% trans "Password" %}{% if not is_registered %} *{% endif %}</td>
                <td><input id="newpassword1" name="newpassword1" type="password" class="field" maxlength="128" /></td>
            </tr>
            <tr>
                <td class="fname">{% trans "Confirm Password" %}{% if not is_registered %} *{% endif %}</td>
                <td><input id="newpassword2" name="newpassword2" type="password" class="field" maxlength="128" /></td>
            </tr>
            <tr>
                <td class="fname">{% trans "Password Hint" %} *</td>
                <td><input id="passwordhint" name="passwordhint" class="field required" maxlength="30"
                {% if is_registered %}
                    value="{{ userinfo.password_hint }}"
                {% endif %}/></td>
            </tr>
            <tr>
                <td colspan="2"><span class="recommended">{% trans "An email address is required. This email will be used for password recovery." %}</span></td>
            </tr>
            <tr>
                <td class="fname">{% trans "Email Address" %} *</td>
                <td><input id="email" name="email" class="field required" maxlength="75"
                {% if is_registered %}
                    value="{{ userinfo.email }}"
                {% endif %}/><br/>
		<div id="dupemail"><span class="recommended">{% trans "Sorry, that email address is already registered. Please use a different email address." %}</span></div></td>
            </tr>
            <tr>
                <td class="fname">{% trans "First Name" %}</td>
                <td><input id="firstname" name="firstname" class="field" maxlength="30"
                {% if is_registered %}
                    value="{{ userinfo.firstname }}"
                {% endif %}/></td>
            </tr>
            <tr>
                <td class="fname">{% trans "Last Name" %}</td>
                <td><input id="lastname" name="lastname" class="field" maxlength="30"
                {% if is_registered %}
                    value="{{ userinfo.lastname }}"
                {% endif %}/></td>
            </tr>
            <tr>
                <td class="fname">{% trans "Organization/School" %} *</td>
                <td><input id="organization" name="organization" class="field required" maxlength="30"
                {% if is_registered %}
                    value="{{ userinfo.organization }}"
                {% endif %}/></td>
            </tr>
            <tr>
                <td class="fname">{% trans "County" %} *</td>
                <td>
                    <select id="county" name="county" class="field required" maxlength="50">
                        <option disabled {% if not userinfo.county %}selected{% endif %} value>Select an option</option>
                        <option {% if userinfo.county == 'Non-PA Resident' %}selected{% endif %} value="Non-PA Resident">Non-PA Resident</option>
                        <option {% if userinfo.county == 'Adams' %}selected{% endif %} value="Adams">Adams</option>
                        <option {% if userinfo.county == 'Allegheny' %}selected{% endif %} value="Allegheny">Allegheny</option>
                        <option {% if userinfo.county == 'Armstrong' %}selected{% endif %} value="Armstrong">Armstrong</option>
                        <option {% if userinfo.county == 'Beaver' %}selected{% endif %} value="Beaver">Beaver</option>
                        <option {% if userinfo.county == 'Bedford' %}selected{% endif %} value="Bedford">Bedford</option>
                        <option {% if userinfo.county == 'Berks' %}selected{% endif %} value="Berks">Berks</option>
                        <option {% if userinfo.county == 'Blair' %}selected{% endif %} value="Blair">Blair</option>
                        <option {% if userinfo.county == 'Bradford' %}selected{% endif %} value="Bradford">Bradford</option>
                        <option {% if userinfo.county == 'Bucks' %}selected{% endif %} value="Bucks">Bucks</option>
                        <option {% if userinfo.county == 'Butler' %}selected{% endif %} value="Butler">Butler</option>
                        <option {% if userinfo.county == 'Cambria' %}selected{% endif %} value="Cambria">Cambria</option>
                        <option {% if userinfo.county == 'Cameron' %}selected{% endif %} value="Cameron">Cameron</option>
                        <option {% if userinfo.county == 'Carbon' %}selected{% endif %} value="Carbon">Carbon</option>
                        <option {% if userinfo.county == 'Centre' %}selected{% endif %} value="Centre">Centre</option>
                        <option {% if userinfo.county == 'Chester' %}selected{% endif %} value="Chester">Chester</option>
                        <option {% if userinfo.county == 'Clarion' %}selected{% endif %} value="Clarion">Clarion</option>
                        <option {% if userinfo.county == 'Clearfield' %}selected{% endif %} value="Clearfield">Clearfield</option>
                        <option {% if userinfo.county == 'Clinton' %}selected{% endif %} value="Clinton">Clinton</option>
                        <option {% if userinfo.county == 'Columbia' %}selected{% endif %} value="Columbia">Columbia</option>
                        <option {% if userinfo.county == 'Crawford' %}selected{% endif %} value="Crawford">Crawford</option>
                        <option {% if userinfo.county == 'Cumberland' %}selected{% endif %} value="Cumberland">Cumberland</option>
                        <option {% if userinfo.county == 'Dauphin' %}selected{% endif %} value="Dauphin">Dauphin</option>
                        <option {% if userinfo.county == 'Delaware' %}selected{% endif %} value="Delaware">Delaware</option>
                        <option {% if userinfo.county == 'Elk' %}selected{% endif %} value="Elk">Elk</option>
                        <option {% if userinfo.county == 'Erie' %}selected{% endif %} value="Erie">Erie</option>
                        <option {% if userinfo.county == 'Fayette' %}selected{% endif %} value="Fayette">Fayette</option>
                        <option {% if userinfo.county == 'Forest' %}selected{% endif %} value="Forest">Forest</option>
                        <option {% if userinfo.county == 'Franklin' %}selected{% endif %} value="Franklin">Franklin</option>
                        <option {% if userinfo.county == 'Fulton' %}selected{% endif %} value="Fulton">Fulton</option>
                        <option {% if userinfo.county == 'Greene' %}selected{% endif %} value="Greene">Greene</option>
                        <option {% if userinfo.county == 'Huntingdon' %}selected{% endif %} value="Huntingdon">Huntingdon</option>
                        <option {% if userinfo.county == 'Indiana' %}selected{% endif %} value="Indiana">Indiana</option>
                        <option {% if userinfo.county == 'Jefferson' %}selected{% endif %} value="Jefferson">Jefferson</option>
                        <option {% if userinfo.county == 'Juniata' %}selected{% endif %} value="Juniata">Juniata</option>
                        <option {% if userinfo.county == 'Lackawanna' %}selected{% endif %} value="Lackawanna">Lackawanna</option>
                        <option {% if userinfo.county == 'Lancaster' %}selected{% endif %} value="Lancaster">Lancaster</option>
                        <option {% if userinfo.county == 'Lawrence' %}selected{% endif %} value="Lawrence">Lawrence</option>
                        <option {% if userinfo.county == 'Lebanon' %}selected{% endif %} value="Lebanon">Lebanon</option>
                        <option {% if userinfo.county == 'Lehigh' %}selected{% endif %} value="Lehigh">Lehigh</option>
                        <option {% if userinfo.county == 'Luzerne' %}selected{% endif %} value="Luzerne">Luzerne</option>
                        <option {% if userinfo.county == 'Lycoming' %}selected{% endif %} value="Lycoming">Lycoming</option>
                        <option {% if userinfo.county == 'McKean' %}selected{% endif %} value="McKean">McKean</option>
                        <option {% if userinfo.county == 'Mercer' %}selected{% endif %} value="Mercer">Mercer</option>
                        <option {% if userinfo.county == 'Mifflin' %}selected{% endif %} value="Mifflin">Mifflin</option>
                        <option {% if userinfo.county == 'Monroe' %}selected{% endif %} value="Monroe">Monroe</option>
                        <option {% if userinfo.county == 'Montgomery' %}selected{% endif %} value="Montgomery">Montgomery</option>
                        <option {% if userinfo.county == 'Montour' %}selected{% endif %} value="Montour">Montour</option>
                        <option {% if userinfo.county == 'Northampton' %}selected{% endif %} value="Northampton">Northampton</option>
                        <option {% if userinfo.county == 'Northumberland' %}selected{% endif %} value="Northumberland">Northumberland</option>
                        <option {% if userinfo.county == 'Perry' %}selected{% endif %} value="Perry">Perry</option>
                        <option {% if userinfo.county == 'Philadelphia' %}selected{% endif %} value="Philadelphia">Philadelphia</option>
                        <option {% if userinfo.county == 'Pike' %}selected{% endif %} value="Pike">Pike</option>
                        <option {% if userinfo.county == 'Potter' %}selected{% endif %} value="Potter">Potter</option>
                        <option {% if userinfo.county == 'Shuylkill' %}selected{% endif %} value="Shuylkill">Shuylkill</option>
                        <option {% if userinfo.county == 'Snyder' %}selected{% endif %} value="Snyder">Snyder</option>
                        <option {% if userinfo.county == 'Somerset' %}selected{% endif %} value="Somerset">Somerset</option>
                        <option {% if userinfo.county == 'Sullivan' %}selected{% endif %} value="Sullivan">Sullivan</option>
                        <option {% if userinfo.county == 'Susquehanna' %}selected{% endif %} value="Susquehanna">Susquehanna</option>
                        <option {% if userinfo.county == 'Tioga' %}selected{% endif %} value="Tioga">Tioga</option>
                        <option {% if userinfo.county == 'Union' %}selected{% endif %} value="Union">Union</option>
                        <option {% if userinfo.county == 'Venango' %}selected{% endif %} value="Venango">Venango</option>
                        <option {% if userinfo.county == 'Warren' %}selected{% endif %} value="Warren">Warren</option>
                        <option {% if userinfo.county == 'Washington' %}selected{% endif %} value="Washington">Washington</option>
                        <option {% if userinfo.county == 'Wayne' %}selected{% endif %} value="Wayne">Wayne</option>
                        <option {% if userinfo.county == 'Westmoreland' %}selected{% endif %} value="Westmoreland">Westmoreland</option>
                        <option {% if userinfo.county == 'Wyoming' %}selected{% endif %} value="Wyoming">Wyoming</option>
                        <option {% if userinfo.county == 'York' %}selected{% endif %} value="York">York</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="fname">{% trans "Contest division" %} *</td>
                <td>
                    <select id="contest_division" name="contest_division" class="field required">
                        <option disabled {% if not userinfo.division %}selected{% endif %} value>Select an option</option>
                        <option {% if userinfo.division == 'YOUTH' %}selected{% endif %} value="YOUTH">{% trans "Youth (Age 13 through Grade 12)" %}</option>
                        <option {% if userinfo.division == 'ACADM' %}selected{% endif %} value="ACADM">{% trans "Higher Ed (Undergraduate, Graduate, Professional)" %}</option>
                        <option {% if userinfo.division == 'ADULT' %}selected{% endif %} value="ADULT">{% trans "Adult (Non-student)" %}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="fname">How did you hear<br>about DTL? *</td>
                <td>
                    <select id="how_did_you_hear" name="how_did_you_hear" class="field required">
                        <option disabled {% if not userinfo.how_did_you_hear %}selected{% endif %} value>Select an option</option>
                        <option {% if userinfo.how_did_you_hear == 'TEACH' %}selected{% endif %} value="TEACH">Teacher</option>
                        <option {% if userinfo.how_did_you_hear == 'FRIEN' %}selected{% endif %} value="FRIEN">Friend, Colleague</option>
                        <option {% if userinfo.how_did_you_hear == 'WEB_S' %}selected{% endif %} value="WEB_S">Web search</option>
                        <option {% if userinfo.how_did_you_hear == 'SO_ME' %}selected{% endif %} value="SO_ME">Social media</option>
                        <option {% if userinfo.how_did_you_hear == 'DTL_E' %}selected{% endif %} value="DTL_E">Draw the Lines event</option>
                        <option {% if userinfo.how_did_you_hear == 'MEDIA' %}selected{% endif %} value="MEDIA">Media coverage</option>
                        <option {% if userinfo.how_did_you_hear == 'EL_OF' %}selected{% endif %} value="EL_OF">Elected official</option>
                        <option {% if userinfo.how_did_you_hear == 'ANOTH' %}selected{% endif %} value="ANOTH">Another organization</option>
                        <option {% if userinfo.how_did_you_hear == 'OTHER' %}selected{% endif %} value="OTHER">Other</option>
                    </select>
                </td>
            </tr>
            <tr id="where_did_you_hear_tr">
                <td class="fname">Where? *</td>
                <td>
                    <input id="where_did_you_hear" name="where_did_you_hear" class="field" maxlength="30"
                        {% if is_registered %}
                            value="{{ userinfo.where_did_you_hear }}"
                        {% endif %}/>
                </td>
            </tr>
            {% if not is_registered %}
            <tr id="agreerow">
                <td></td>
                <td>
                    <input id="agree" name="agree" type="checkbox"/>
                    <label id="agreelabel" for="agree">
                        {% blocktrans %}I have read the <a href="#">Terms of Use</a>{% endblocktrans %}
                    </label>
                </td>

            </tr>
            {% endif %}
            <input type="hidden" id="userid" name="userid"
            {% if is_registered %}
                value="{{ userinfo.id }}"
            {% else %}
                value=""
            {% endif %}/>
        </table>
        <div id="signUpButton">
            {% if is_registered %}
            <button id="doRegister">{% trans "Update" %}</button>
            {% else %}
            <button id="doRegister">{% trans "Sign Up" %}</button>
            {% endif %}
        </div>
        <div id="requiredNote">
            * {% trans "Indicates required field" %}
        </div>
    </form>
</div>
