{% load i18n %}
{% if is_registered %}
<div id="register" title="{% trans "Account Information" %}">
    <form id="registerForm" action="/accounts/update/" method="post">
{% else %}
<div id="register" title="{% trans "Sign Up For An Account" %}">
    <form id="registerForm" action="/accounts/register/" method="post">
{% endif %}
        <table id="registerTable">
            <tr>
                <td colspan="2"><span id="usernameinstructions"
                class="recommended">{% trans "Please choose a username between 6 and 30 characters. Include at least one letter. Do not leave leading or trailing spaces." %}</span></td>
            </tr>
            <tr>
                <td class="fname">{% trans "User Name" %} *</td>
                <td><input id="newusername" name="newusername" class="field" maxlength="30"
                {% if is_registered %}
                    disabled="true" value="{{ userinfo.username }}"
                {% endif %}/></td>
            </tr>
            <tr>
                <td colspan="2"><span id="passwordinstructions" class="recommended">Please use a password of 8 or more characters.</span></td>
            </tr>
            <tr>
                <td class="fname">{% trans "Password" %}{% if not is_registered %} *{% endif %}</td>
                <td><input id="newpassword1" name="newpassword1" type="password" class="field" maxlength="128" /></td>
            </tr>
            <tr>
                <td class="fname">{% trans "Confirm Password" %}{% if not is_registered %} *{% endif %}</td>
                <td><input id="newpassword2" name="newpassword2" type="password" class="field" maxlength="128" /></td>
            </tr>
            <tr>
                <td class="fname">{% trans "Password Hint" %} *</td>
                <td><input id="passwordhint" name="passwordhint" class="field" maxlength="30"
                {% if is_registered %}
                    value="{{ userinfo.password_hint }}"
                {% endif %}/></td>
            </tr>
            <tr>
                <td colspan="2"><span class="recommended">{% trans "An email address is required. This email will be used for password recovery." %}</span></td>
            </tr>
            <tr>
                <td class="fname">{% trans "Email Address" %} *</td>
                <td><input id="email" name="email" class="field" maxlength="75"
                {% if is_registered %}
                    value="{{ userinfo.email }}"
                {% endif %}/><br/>
		<div id="dupemail"><span class="recommended">{% trans "Sorry, that email address is already registered. Please use a different email address." %}</span></div></td>
            </tr>
            <tr>
                <td class="fname">{% trans "First Name" %}</td>
                <td><input id="firstname" name="firstname" class="field" maxlength="30"
                {% if is_registered %}
                    value="{{ userinfo.firstname }}"
                {% endif %}/></td>
            </tr>
            <tr>
                <td class="fname">{% trans "Last Name" %}</td>
                <td><input id="lastname" name="lastname" class="field" maxlength="30"
                {% if is_registered %}
                    value="{{ userinfo.lastname }}"
                {% endif %}/></td>
            </tr>
            <tr>
                <td class="fname">{% trans "Organization/School" %}</td>
                <td><input id="organization" name="organization" class="field" maxlength="30"
                {% if is_registered %}
                    value="{{ userinfo.organization }}"
                {% endif %}/></td>
            </tr>
            <tr>
                <td class="fname">{% trans "County" %} *</td>
                <td>
                    <select name="county" class="field required" maxlength="50">
                        <option disabled selected value>Select an option</option>
                        <option value="Non-PA Resident">Non-PA Resident</option>
                        <option value="Adams">Adams</option>
                        <option value="Allegheny">Allegheny</option>
                        <option value="Armstrong">Armstrong</option>
                        <option value="Beaver">Beaver</option>
                        <option value="Bedford">Bedford</option>
                        <option value="Berks">Berks</option>
                        <option value="Blair">Blair</option>
                        <option value="Bradford">Bradford</option>
                        <option value="Bucks">Bucks</option>
                        <option value="Butler">Butler</option>
                        <option value="Cambria">Cambria</option>
                        <option value="Cameron">Cameron</option>
                        <option value="Carbon">Carbon</option>
                        <option value="Centre">Centre</option>
                        <option value="Chester">Chester</option>
                        <option value="Clarion">Clarion</option>
                        <option value="Clearfield">Clearfield</option>
                        <option value="Clinton">Clinton</option>
                        <option value="Columbia">Columbia</option>
                        <option value="Crawford">Crawford</option>
                        <option value="Cumberland">Cumberland</option>
                        <option value="Dauphin">Dauphin</option>
                        <option value="Delaware">Delaware</option>
                        <option value="Elk">Elk</option>
                        <option value="Erie">Erie</option>
                        <option value="Fayette">Fayette</option>
                        <option value="Forest">Forest</option>
                        <option value="Franklin">Franklin</option>
                        <option value="Fulton">Fulton</option>
                        <option value="Greene">Greene</option>
                        <option value="Huntingdon">Huntingdon</option>
                        <option value="Indiana">Indiana</option>
                        <option value="Jefferson">Jefferson</option>
                        <option value="Juniata">Juniata</option>
                        <option value="Lackawanna">Lackawanna</option>
                        <option value="Lancaster">Lancaster</option>
                        <option value="Lawrence">Lawrence</option>
                        <option value="Lebanon">Lebanon</option>
                        <option value="Lehigh">Lehigh</option>
                        <option value="Luzerne">Luzerne</option>
                        <option value="Lycoming">Lycoming</option>
                        <option value="McKean">McKean</option>
                        <option value="Mercer">Mercer</option>
                        <option value="Mifflin">Mifflin</option>
                        <option value="Monroe">Monroe</option>
                        <option value="Montgomery">Montgomery</option>
                        <option value="Montour">Montour</option>
                        <option value="Northampton">Northampton</option>
                        <option value="Northumberland">Northumberland</option>
                        <option value="Perry">Perry</option>
                        <option value="Philadelphia">Philadelphia</option>
                        <option value="Pike">Pike</option>
                        <option value="Potter">Potter</option>
                        <option value="Shuylkill">Shuylkill</option>
                        <option value="Snyder">Snyder</option>
                        <option value="Somerset">Somerset</option>
                        <option value="Sullivan">Sullivan</option>
                        <option value="Susquehanna">Susquehanna</option>
                        <option value="Tioga">Tioga</option>
                        <option value="Union">Union</option>
                        <option value="Venango">Venango</option>
                        <option value="Warren">Warren</option>
                        <option value="Washington">Washington</option>
                        <option value="Wayne">Wayne</option>
                        <option value="Westmoreland">Westmoreland</option>
                        <option value="Wyoming">Wyoming</option>
                        <option value="York">York</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="fname">{% trans "Contest division" %} *</td>
                <td>
                    <select name="contest_division" class="field required">
                        <option disabled selected value>Select an option</option>
                        <option value="YOUTH">{% trans "Youth (Age 13 through Grade 12)" %}</option>
                        <option value="ACADM">{% trans "Higher Ed (Undergraduate, Graduate, Professional)" %}</option>
                        <option value="ADULT">{% trans "Adult (Non-student)" %}</option>
                    </select>
                </td>
            </tr>
            {% if not is_registered %}
            <tr id="agreerow">
                <td></td>
                <td>
                    <input id="agree" name="agree" type="checkbox"/>
                    <label id="agreelabel" for="agree">
                        {% blocktrans %}I have read the <a href="#">Terms of Use</a>{% endblocktrans %}
                    </label>
                </td>

            </tr>
            {% endif %}
            <input type="hidden" id="userid" name="userid"
            {% if is_registered %}
                value="{{ userinfo.id }}"
            {% else %}
                value=""
            {% endif %}/>
        </table>
        <div id="signUpButton">
            {% if is_registered %}
            <button id="doRegister">{% trans "Update" %}</button>
            {% else %}
            <button id="doRegister">{% trans "Sign Up" %}</button>
            {% endif %}
        </div>
        <div id="requiredNote">
            * {% trans "Indicates required field" %}
        </div>
    </form>
</div>
